/* ==UserStyle==
@name             ByteDance style
@namespace        github.com/iBug/userscript
@version          1.0.0
@description      Custom Styles for ByteDance
@updateURL        https://raw.githubusercontent.com/iBug/userscript/master/bytedance.user.css
@author           iBug
==/UserStyle== */

#watermark, .ssrWaterMark, .brightWatermark, .__wm, #dpWmColor,
#bytedance-gitlab-watermark, #bytedance-gitlab-steam-mark,
body > div > div > div > div.suite-clear,
body > div > div > div > div[style*="background-repeat"],
body > div > div > div > div > div[style*="z-index:9999"],
#bytecloud-notification-wrapper + div,
#bytecloud-notification-wrapper + div + div,
body > div[style*="background-repeat: repeat"],
body > div[style*="background-repeat:repeat"],
body > div[style*="inset: 0px !important"],
body > div[style*="inset: 0!important"],
body > div[style*="visible !important"],
body > div[style*="position: fixed;"][style*="z-index: 9999;"],
body > div[style*="position: fixed;"][style*="z-index: 999999;"]{
    display: none !important;
    opacity: 0 !important;
    filter: opacity(0) !important;
    transform: scale(0) !important;
}

@-moz-document domain("feishu.cn"), domain("larkoffice.com") {
    body#zh-CN, body.larktab-body, body.larktab-body button, body.larktab-body input, body.larktab-body select, body.larktab-body textarea, body.larktab-body#zh-CN, body.larktab-body#zh-CN button, body.larktab-body#zh-CN input, body.larktab-body#zh-CN select, body.larktab-body#zh-CN textarea, body.larktab-body#zh-HK, body.larktab-body#zh-HK button, body.larktab-body#zh-HK input, body.larktab-body#zh-HK select, body.larktab-body#zh-HK textarea, body.larktab-body#zh-TW, body.larktab-body#zh-TW button, body.larktab-body#zh-TW input, body.larktab-body#zh-TW select, body.larktab-body#zh-TW textarea {
        font-family: LarkHackSafariFont,LarkEmojiFont,LarkChineseQuote,-apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft Yahei,Arial,Hiragino Sans GB,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji
    }

    .mobile .inline-code, .windows .inline-code,
    .mobile .editor-kit-code-block .code-block-content, .windows .editor-kit-code-block .code-block-content {
        font-family: "Source Code Pro", Menlo, Monaco, "Fira Code iBug", "Fira Code", Consolas, "Liberation Mono", "Courier New", "Microsoft Yahei";
    }
}
